<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New category</title>
</head>
<body>
    <h3>New category</h3>
    <form action="/category" method="post">
        <section>
            <label for="category_title">Category's title:</label>
            <input type="text" name="category_title" id="category_title">
        </section>
        <section>
            <label for="category_slug">Category's slug:</label>
            <input type="text" name="category_slug" id="category_slug">
        </section>
        <section>
            <label for="category_content">Category's content:</label>
            <textarea name="category_content" id="category_content" cols="30" rows="5" style="resize: none"></textarea>
        </section>
        <br>
        <button>Add category</button>
    </form>
</body>
</html>