<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    <h3>Change password</h3>
    <form action="/changepassword" method="post">
        <section>
            <label for="old_password">Old password: </label>
            <input type="text" name="old_password" id="old_password">
        </section>
        <section>
            <label for="new_password">New password: </label>
            <input type="text" name="new_password" id="new_password">
        </section>
        <section>
            <label for="new_repassword">Retype new password: </label>
            <input type="text" name="new_repassword" id="new_repassword">
        </section>
        <button>Change</button>
    </form>
</body>
</html>